<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calystoa | <%= article.title %>
  </title>

  <link rel="stylesheet" href="/css/main.css">
  <script type="module" src="/js/script.js" defer></script>
</head>

<body id="page" class="page page--article">
  <%- include('../partials/header.ejs') %>

    <main>
      <div class="banner">
        <img src="<%= article.screenshots[Math.floor(Math.random() * article.screenshots.length) ].path_full %>"
          alt="Steam image" loading="lazy">
      </div>
      <p class="playedHours">Article owner, has played <%= article.playtime.toFixed(0) %> hours, at <%=
            article.updatedAt.getDate() %>/<%= article.updatedAt.getMonth() + 1 %>/<%= article.updatedAt.getFullYear()
                %>
      </p>
      <% Object.values(article.content).forEach(container=> { %>
        <div class="<%= container.class %>">
          <% Object.values(container.columns).forEach(column=> { %>
            <div class="<%= column.class %>">
              <% Object.values(column.content).forEach(content=> { %>
                <div class="content">
                  <<%= content.tag %> class="<%= content.tag %>
                      <%= content.class %>"><%= content.text %>
                  </<%= content.tag %>>
                </div>
                <% }) %>
            </div>
            <% }) %>
        </div>
        <% }) %>

    </main>
    <footer class="footer">
      <small>Provided by <a target="_blank" href="/">Calystoa</a></small>
    </footer>
</body>

</html>