<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calystoa | <%= user.displayName %> | <%= article.title %>
  </title>

  <link rel="stylesheet" href="/css/main.css">
  <script type="module" src="/js/script.js" defer></script>
  <script type="module" src="/js/article.js" defer></script>
  <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
  <script src="https://kit.fontawesome.com/d82e8d25cf.js" crossorigin="anonymous"></script>
</head>

<body id="page" class="page page--edit">
  <%- include('../partials/header.ejs') %>
    <main>
      <div class="banner">
        <img src="<%= article.screenshots[Math.floor(Math.random() * article.screenshots.length) ].path_full %>"
          alt="Steam image" loading="lazy">
      </div>
      <p class="playedHours">Article owner, has played <%= article.playtime.toFixed(0) %> hours, at <%=
            article.updatedAt.getDate() %>/<%= article.updatedAt.getMonth() + 1 %>/<%= article.updatedAt.getFullYear()
                %>
      </p>

      <% Object.values(article.content).forEach((container, i )=> { %>
        <div class="<%= container.class %> container--editor" data-container="<%= i %>">
          <% Object.values(container.columns).forEach((column, l)=> { %>
            <div class="<%= column.class %>" data-column="<%= l %>">
              <% Object.values(column.content).forEach((content, j)=> { %>
                <textarea class="content content__textarea <%=  content.tag %> <%= content.class %>"
                  value="<%= content.text %>" data-content="<%= j %>"><%= content.text %></textarea>
                <% }) %>
                  <div class="add-new-content">
                    <button class="button"><i class="fas fa-plus"></i></button>
                  </div>
            </div>
            <% }) %>
        </div>
        <% }) %>
          <div class="add-new-container">
            <button id="addContainer"><i class="fa-solid fa-plus"></i></button>
          </div>


          <form id="form" action="/article/<%= article._id %>/edit/updates" method="post">
            <% let contentValue={} %>
              <% Object.values(article.content).forEach((container, i)=> {
                let containerObj = {}
                let columnObj = {}
                let contentObj = {}



                Object.values(container.columns).forEach((column, l) => {
                Object.values(column.content).forEach((content, j) => {
                contentObj[j] = { tag: content.tag, class: content.class, text: content.text }
                })
                columnObj[l] = { class: column.class, content: contentObj }
                })
                containerObj[i] = { class: container.class, columns: columnObj }

                contentValue[i] = containerObj[i]
                }) %>

                <input type="hidden" name="content" value='<%= JSON.stringify(contentValue) %>'>
                <input class="submit" type="submit" value="Save">
          </form>
    </main>


    <footer class="footer">
      <small>Provided by <a target="_blank" href="/">Calystoa</a></small>
    </footer>

</body>

</html>